Lead Generation Complete.json
{
  "name": "Lead Generation Complete",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1668veaNk9pSTqSj5KE40QTjJ13PrMS-0clKvOFi-z8w",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1668veaNk9pSTqSj5KE40QTjJ13PrMS-0clKvOFi-z8w/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Roles",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1668veaNk9pSTqSj5KE40QTjJ13PrMS-0clKvOFi-z8w/edit#gid=0"
        },
        "event": "rowUpdate",
        "options": {}
      },
      "id": "7265e42f-6114-43b4-bf41-4d2ebf076103",
      "name": "Google Sheets Trigger",
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -16,
        144
      ],
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "0c54JBBJ8mVAvxHc",
          "name": "Google Sheets Trigger OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "22feec79-f230-4016-9cca-aa9f6ffd6920",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "Run",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1bbc73ff-3415-4250-9044-269bfa82b34e",
      "name": "Status:Null",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        176,
        144
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "documentId": {
          "__rl": true,
          "value": "1668veaNk9pSTqSj5KE40QTjJ13PrMS-0clKvOFi-z8w",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1668veaNk9pSTqSj5KE40QTjJ13PrMS-0clKvOFi-z8w/edit?usp=drivesdk"
        },
        "title": "={{ \"Leads_\" + $now.format(\"DD hh:mm\") }}.",
        "options": {}
      },
      "id": "cbccc884-80bd-4c3d-893b-2708b6e66524",
      "name": "Create sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        368,
        144
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sPiH5qqKlPtL84zC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fc9ed3de-c685-451a-bde1-4f107eaa6326",
              "name": "Columns",
              "value": "Full Name, Position, Email, Phone No, Company Name, Company Website, Location, Category, IceBreaker",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "e158b841-c332-4b57-8b7b-f84d3667f94c",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        528,
        144
      ]
    },
    {
      "parameters": {
        "jsCode": "// Split the comma-separated string from $json.Columns\nconst raw = $json.Columns || $json.columns;\nif (!raw) {\n    throw new Error(\"No Columns field found on the incoming item.\");\n}\nconst headersArray = raw.split(',');\n\n// Create an object where each key is a header\nconst headersObject = {};\n\nheadersArray.forEach(header => {\n    const trimmedHeader = header.trim();\n    headersObject[trimmedHeader] = trimmedHeader;\n});\n\n// Return the object\nreturn [\n    {\n        json: headersObject\n    }\n];"
      },
      "id": "63057100-1b20-48f0-aebd-66931bbcd0f0",
      "name": "Code in JavaScript",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        144
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.links.result }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {}
      },
      "id": "8f42f874-9bdc-4645-bea3-7d0076d12f9e",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        560
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "KLvpvSniDo5r8lhh",
          "name": "latest"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://{{ $('Formatting Domains').item.json.domain }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            }
          ]
        },
        "options": {}
      },
      "id": "1e59fbf6-318c-41a8-84a9-49b6427c8480",
      "name": "Scrape Website",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        608,
        560
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "beb14b8e-7022-49d4-9487-33a365be4a40",
              "leftValue": "={{ $json.data }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1f80c348-2361-49b1-92e7-8e8d3c72a88a",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        784,
        560
      ]
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "website scrape",
              "cssSelector": "body"
            }
          ]
        },
        "options": {}
      },
      "id": "720ec534-8d3f-4221-9683-41ef2258336e",
      "name": "HTML",
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        976,
        576
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert sales assistant. Read the following website text and write a personalized, 3-4-sentence compliment about the business to use as an email icebreaker. Only output the 3-4 sentence. Strictly Dont write sentences like \n\"Here is a personalized, 3-4 sentence compliment about the business as an email icebreaker\", just the text itself no more sentences.\n{{ $json['website scrape'] }}",
        "batching": {}
      },
      "id": "de9d2d24-6e95-4c39-919d-7655dd6e0869",
      "name": "Basic LLM Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1184,
        576
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "0304e145-bd10-4238-9148-e16110fccfef",
      "name": "NVIDIA Nemotron Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatNvidia",
      "typeVersion": 1,
      "position": [
        1152,
        736
      ],
      "credentials": {
        "nvidiaApi": {
          "id": "Py8NmIceq2R9bnF6",
          "name": "NVIDIA Nemotron account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1668veaNk9pSTqSj5KE40QTjJ13PrMS-0clKvOFi-z8w",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1668veaNk9pSTqSj5KE40QTjJ13PrMS-0clKvOFi-z8w/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Create sheet').item.json.sheetId }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Full Name": "={{ $('HTTP Request:GET').item.json.data[0].first_name }} {{ $('HTTP Request:GET').item.json.data[0].last_name }}",
            "Position": "={{ $('HTTP Request:GET').item.json.data[0].position }}",
            "Email": "={{ $('HTTP Request').item.json.data.emails[0].email }}",
            "Phone No": "={{ $('Scrape Google maps').item.json.phone }}",
            "Company Name": "={{ $('Scrape Google maps').item.json.title }}",
            "Company Website": "={{ $('Formatting Domains').item.json.domain }}",
            "Category": "={{ $('Scrape Google maps').item.json.categoryName }}",
            "IceBreaker": "={{ $json.text }}",
            "Location": "={{ $('Scrape Google maps').item.json.address }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Position",
              "displayName": "Position",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone No",
              "displayName": "Phone No",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Website",
              "displayName": "Company Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "IceBreaker",
              "displayName": "IceBreaker",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "88cbce1b-101f-4b3a-bc8a-e0b7fa8b234b",
      "name": "ADD DATA",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1456,
        576
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sPiH5qqKlPtL84zC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "id": "6b7e646e-e842-461c-a032-8ab1873005b5",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        784,
        688
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1668veaNk9pSTqSj5KE40QTjJ13PrMS-0clKvOFi-z8w",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1668veaNk9pSTqSj5KE40QTjJ13PrMS-0clKvOFi-z8w/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Create sheet').item.json.title }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Position",
              "displayName": "Position",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Phone No",
              "displayName": "Phone No",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Company Website",
              "displayName": "Company Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "IceBreaker",
              "displayName": "IceBreaker",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "24a7c701-0b16-4390-a2cb-75d4e0d884c9",
      "name": "Append row in sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        896,
        160
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sPiH5qqKlPtL84zC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorSource": "store",
        "actorId": {
          "__rl": true,
          "value": "nwua9Gu5YrADL7ZDj",
          "mode": "list",
          "cachedResultName": "Google Maps Scraper (compass/crawler-google-places)",
          "cachedResultUrl": "https://console.apify.com/actors/nwua9Gu5YrADL7ZDj/input"
        },
        "customBody": "={\n    \"includeWebResults\": false,\n    \"language\": \"en\",\n    \"locationQuery\": \"{{ $('Status:Null').item.json.Location }}\",\n    \"maxCrawledPlacesPerSearch\": 10,\n    \"maximumLeadsEnrichmentRecords\": 0,\n    \"scrapeContacts\": false,\n    \"scrapeDirectories\": false,\n    \"scrapeImageAuthors\": false,\n    \"scrapeOrderOnline\": false,\n    \"scrapePlaceDetailPage\": true,\n    \"scrapeReviewsPersonalData\": true,\n    \"scrapeSocialMediaProfiles\": {\n        \"facebooks\": false,\n        \"instagrams\": false,\n        \"tiktoks\": false,\n        \"twitters\": false,\n        \"youtubes\": false\n    },\n    \"scrapeTableReservationProvider\": false,\n    \"searchStringsArray\": [\n        \"{{ $('Status:Null').item.json['Company Name'] }}\"\n    ],\n    \"skipClosedPlaces\": false,\n    \"verifyLeadsEnrichmentEmails\": false\n}",
        "timeout": {},
        "authentication": "apifyOAuth2Api"
      },
      "id": "721ec447-b519-4c82-99c2-b44c6d766117",
      "name": "Scrape Google maps",
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        1248,
        160
      ],
      "credentials": {
        "apifyOAuth2Api": {
          "id": "FlGV8phat4mq7ub9",
          "name": "Apify account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "603263be-416f-46a4-94e5-0ac881908721",
              "name": "domain",
              "value": "={{ $('Scrape Google maps').item.json.website.replaceAll('http://','').replaceAll('https://','').replaceAll('www.','').split('/').first() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "81b26bdd-09d6-4555-aa74-521dc53d3a6e",
      "name": "Formatting Domains",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        16,
        368
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.snov.io/v2/domain-search/prospects/start",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "domain",
              "value": "={{ $json.domain }}"
            },
            {
              "name": "positions[]",
              "value": "CEO"
            }
          ]
        },
        "options": {}
      },
      "id": "e4e2234f-b993-4b8d-b7fe-756b08ff6aba",
      "name": "HTTP Request: POST",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        192,
        368
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "KLvpvSniDo5r8lhh",
          "name": "latest"
        }
      }
    },
    {
      "parameters": {
        "amount": 25
      },
      "id": "7544cfca-1531-4c45-bcbf-7144a3f85bdc",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        416,
        368
      ],
      "webhookId": "cccb7bab-23f0-4d3b-9991-c3fa4d085333"
    },
    {
      "parameters": {
        "url": "={{ $json.links.result }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {}
      },
      "id": "cc71fb56-bc65-4d37-acf3-af008dff18cf",
      "name": "HTTP Request:GET",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        368
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "KLvpvSniDo5r8lhh",
          "name": "latest"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.data[0].search_emails_start }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {}
      },
      "id": "f588266c-1275-458e-817a-768bb4a09c0e",
      "name": "HTTP Request:POST",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        32,
        560
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "KLvpvSniDo5r8lhh",
          "name": "latest"
        }
      }
    },
    {
      "parameters": {
        "amount": 25
      },
      "id": "1d06948a-0e5e-45c6-83bb-600fdb8dc0a2",
      "name": "Wait1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        240,
        560
      ],
      "webhookId": "dda919b7-8231-4935-8328-8bb6c0fa1c5e"
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "1668veaNk9pSTqSj5KE40QTjJ13PrMS-0clKvOFi-z8w",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1668veaNk9pSTqSj5KE40QTjJ13PrMS-0clKvOFi-z8w/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Create sheet').item.json.sheetId }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1072,
        160
      ],
      "id": "e8597d96-6e64-4c9a-ace3-044e1eadb694",
      "name": "Delete rows or columns from sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sPiH5qqKlPtL84zC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8a0ddd06-927d-4aed-b2e7-adb6829684d3",
              "leftValue": "={{ $json.website }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1440,
        160
      ],
      "id": "35502c7a-a1e1-456c-be83-6515f44e3723",
      "name": "IF Website exists"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1668veaNk9pSTqSj5KE40QTjJ13PrMS-0clKvOFi-z8w",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1668veaNk9pSTqSj5KE40QTjJ13PrMS-0clKvOFi-z8w/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Create sheet').item.json.sheetId }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Full Name": "=",
            "Position": "=",
            "Email": "=",
            "Phone No": "={{ $('Scrape Google maps').item.json.phone }}",
            "Company Name": "={{ $('Scrape Google maps').item.json.title }}",
            "Company Website": "=",
            "Category": "={{ $('Scrape Google maps').item.json.categoryName }}",
            "IceBreaker": "={{ $json.text }}",
            "Location": "={{ $('Scrape Google maps').item.json.address }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Position",
              "displayName": "Position",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone No",
              "displayName": "Phone No",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Website",
              "displayName": "Company Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "IceBreaker",
              "displayName": "IceBreaker",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "74f2f9c6-d9ea-4f9b-9b2a-260bef0aa1c8",
      "name": "Alt (no website)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1616,
        176
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sPiH5qqKlPtL84zC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b6678008-8e86-4663-8198-277b7ec1ecdc",
              "leftValue": "={{ $json.data }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        832,
        368
      ],
      "id": "df1cc9b6-30ed-4a5e-9707-778ac9c69f2f",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1668veaNk9pSTqSj5KE40QTjJ13PrMS-0clKvOFi-z8w",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1668veaNk9pSTqSj5KE40QTjJ13PrMS-0clKvOFi-z8w/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Create sheet').item.json.sheetId }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Full Name": "=",
            "Position": "=",
            "Email": "=",
            "Phone No": "={{ $('Scrape Google maps').item.json.phone }}",
            "Company Name": "={{ $('Scrape Google maps').item.json.title }}",
            "Company Website": "=",
            "Category": "={{ $('Scrape Google maps').item.json.categoryName }}",
            "IceBreaker": "={{ $json.text }}",
            "Location": "={{ $('Scrape Google maps').item.json.address }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Position",
              "displayName": "Position",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone No",
              "displayName": "Phone No",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Website",
              "displayName": "Company Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "IceBreaker",
              "displayName": "IceBreaker",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "d9bfff50-f441-41ba-a86e-d81fc87ed07a",
      "name": "Alt (no website)1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1056,
        384
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sPiH5qqKlPtL84zC",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Status:Null",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status:Null": {
      "main": [
        [
          {
            "node": "Create sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create sheet": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Scrape Website",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Website": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "ADD DATA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NVIDIA Nemotron Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Delete rows or columns from sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Google maps": {
      "main": [
        [
          {
            "node": "IF Website exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatting Domains": {
      "main": [
        [
          {
            "node": "HTTP Request: POST",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request: POST": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request:GET",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request:GET": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request:POST": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete rows or columns from sheet": {
      "main": [
        [
          {
            "node": "Scrape Google maps",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Website exists": {
      "main": [
        [
          {
            "node": "Formatting Domains",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Alt (no website)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "HTTP Request:POST",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Alt (no website)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "b491dd7e-f4dd-41f6-8ef3-f119fe891d04",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "64c6b23a15eecc837abdfa724dd23a52abd97ca1443983b6f6b0a381fec9ebd7"
  },
  "nodeGroups": [],
  "id": "jQSs3y5USa0mAEH8",
  "tags": []
}